In [70]:
%pip install pandas
import pandas as pd

Requirement already satisfied: pandas in c:\users\gaj\appdata\local\programs\python\python311\lib\site-packages (2.3.0)
Requirement already satisfied: numpy>=1.23.2 in c:\users\gaj\appdata\local\programs\python\python311\lib\site-packages (from pandas) (2.3.0)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\gaj\appdata\roaming\python\python311\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\gaj\appdata\local\programs\python\python311\lib\site-packages (from pandas) (2025.2)
Requirement already satisfied: tzdata>=2022.7 in c:\users\gaj\appdata\local\programs\python\python311\lib\site-packages (from pandas) (2025.2)
Requirement already satisfied: six>=1.5 in c:\users\gaj\appdata\roaming\python\python311\site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip is available: 25.1.1 -> 25.2
[notice] To update, run: python.exe -m pip install --upgrade pip

In [ ]:
"D:\projects_Sara\analysis_real_estate_LJ\clean_GURS\new_prodaja2014.csv"

##Loading all of the tables and joining them in one

In [ ]:
df = pd.read_csv(r"power_bi_ready\gurs_cut\realestate_2014.csv", sep=",", encoding="utf-8",)
df1 = pd.read_csv(r"power_bi_ready\gurs_cut\realestate_2015.csv", sep=",", encoding="utf-8",)
df2 = pd.read_csv(r"power_bi_ready\gurs_cut\realestate_2016.csv", sep=",", encoding="utf-8",)
df3 = pd.read_csv(r"power_bi_ready\gurs_cut\realestate_2017.csv", sep=",", encoding="utf-8",)
df4 = pd.read_csv(r"power_bi_ready\gurs_cut\realestate_2018.csv", sep=",", encoding="utf-8",)
df5 = pd.read_csv(r"power_bi_ready\gurs_cut\realestate_2019.csv", sep=",", encoding="utf-8",)
df6 = pd.read_csv(r"power_bi_ready\gurs_cut\realestate_2020.csv", sep=",", encoding="utf-8",)
df7 = pd.read_csv(r"power_bi_ready\gurs_cut\realestate_2022.csv", sep=",", encoding="utf-8",)
df8 = pd.read_csv(r"power_bi_ready\gurs_cut\realestate_2023.csv", sep=",", encoding="utf-8",)
df9 = pd.read_csv(r"power_bi_ready\gurs_cut\realestate_2024.csv", sep=",", encoding="utf-8",)
df0 = pd.read_csv(r"power_bi_ready\gurs_cut\realestate_2021.csv", sep=",", encoding="utf-8",)

In [73]:
df1.sample(10)

,mestna_cetrt,naselje,leto_izgradnje,total_m2,living_space,leto,cena,house_or_apartment,datum,novogradnja_1,is_apartment,sobnost_ocenjena,price_per_m2
1393,tabor,ljubljana,2012,57.2,44.2,2015,140000.00,2,2015-01-01,True,1,3,2447.552448
1187,vič,ljubljana,1971,40.6,36.8,2015,67000.00,2,2015-01-01,False,1,2,1650.246305
2506,tabor,ljubljana,1909,111.2,90.0,2015,205000.00,2,2015-01-01,False,1,6,1843.525180
362,vič,ljubljana,2014,59.7,55.3,2015,143008.33,2,2015-01-01,True,1,3,2395.449414
1181,stožice,ljubljana,2000,50.5,47.2,2015,102500.00,2,2015-01-01,False,1,3,2029.702970
1982,zgornja šiška,ljubljana,1970,69.9,56.6,2015,148000.00,2,2015-01-01,False,1,3,2117.310443
178,kašelj,ljubljana,1970,79.1,59.7,2015,103000.00,1,2015-01-01,False,0,4,1302.149178
578,vič,ljubljana,2014,77.3,60.7,2015,165502.70,2,2015-01-01,True,1,4,2141.043984
948,vič,ljubljana,2014,48.1,38.0,2015,113959.86,2,2015-01-01,True,1,2,2369.227859
1668,ježica,ljubljana,1977,36.9,36.9,2015,73000.00,2,2015-01-01,False,1,2,1978.319783

In [74]:
# merge

# 1) Put them in a list
dfs = [df, df1, df2, df3, df4, df5, df6, df7, df8, df9, df0]

# 2) Concatenate into one DataFrame
full_df = pd.concat(dfs, ignore_index=True)

# 3) (Optional) verify
print(full_df.shape)         # rows should equal sum of all individual dfs
print(full_df['leto'].unique())  # you should see [2014, …, 2024]

(30289, 13)
[2014 2015 2016 2017 2018 2019 2020 2021 2022 2023 2024]

In [ ]:
# prepareing area columns and price column for Power BI
full_df['total_m2'] = full_df['total_m2'].astype(str).str.replace('.', ',', regex=False)
full_df['living_space'] = full_df['living_space'].astype(str).str.replace('.', ',', regex=False)
full_df['cena'] = full_df['cena'].astype(str).str.replace('.', ',', regex=False)
full_df['price_per_m2'] = full_df['price_per_m2'].astype(str).str.replace('.', ',', regex=False)

In [79]:
full_df.sample(10)

,mestna_cetrt,naselje,leto_izgradnje,total_m2,living_space,leto,cena,house_or_apartment,datum,novogradnja_1,is_apartment,sobnost_ocenjena,price_per_m2
30220,vič,ljubljana,1975,"42,8","35,8",2024,"145000,0",2,2024-01-01,False,1,2,"3387,85046728972"
26588,zgornja šiška,ljubljana,1973,"198,6","141,5",2023,"548000,0",1,2023-01-01,False,0,6,"2759,315206445116"
25866,tabor,ljubljana,2022,"119,8","99,2",2023,"412851,0",2,2023-01-01,True,1,6,"3446,168614357262"
28037,tacen,ljubljana,1974,"160,8","148,7",2024,"225000,0",2,2024-01-01,False,1,6,"1399,2537313432836"
28019,moste,ljubljana,1961,"13,9","13,9",2024,"25000,0",2,2024-01-01,False,1,1,"1798,5611510791366"
8913,nove jarše,ljubljana,1981,"62,4","52,8",2017,"123000,0",2,2017-01-01,False,1,3,"1971,1538461538464"
5129,ajdovščina,ljubljana,1910,"77,9","75,9",2015,"51148,9",2,2015-01-01,False,1,4,"656,5969191270859"
22795,brinje i,ljubljana,1936,"58,2","47,0",2021,"262500,0",2,2021-01-01,False,1,3,"4510,309278350515"
7208,poljansko predmestje,ljubljana,2005,"69,2","55,9",2016,"175000,0",2,2016-01-01,False,1,3,"2528,901734104046"
17125,glince,ljubljana,2017,"85,2","72,6",2019,"230000,0",2,2019-01-01,True,1,4,"2699,5305164319248"

In [80]:
full_df.to_csv(r"power_bi_ready\gurs_cut\finished_full_realestate.csv", sep=",", encoding="utf-8", index=False)