In [1]:
%pip install pandas
import pandas as pd

Requirement already satisfied: pandas in c:\users\gaj\appdata\local\programs\python\python311\lib\site-packages (2.3.0)
Requirement already satisfied: numpy>=1.23.2 in c:\users\gaj\appdata\local\programs\python\python311\lib\site-packages (from pandas) (2.3.0)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\gaj\appdata\roaming\python\python311\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\gaj\appdata\local\programs\python\python311\lib\site-packages (from pandas) (2025.2)
Requirement already satisfied: tzdata>=2022.7 in c:\users\gaj\appdata\local\programs\python\python311\lib\site-packages (from pandas) (2025.2)
Requirement already satisfied: six>=1.5 in c:\users\gaj\appdata\roaming\python\python311\site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)
Note: you may need to restart the kernel to use updated packages.

In [129]:
df = pd.read_csv(r"power_bi_ready\stavbe2024_cleaned.csv", sep=",", encoding="utf-8",)

In [130]:
df.sample(10)

,ime_ko,naselje,letnica_izgradnje,m2_bruto,m2_neto,leto,cena,novogradnja_1,sobnost_ocenjena
2105,ajdovščina,ljubljana,1933,129.0,114.1,2024-01-01,2380,False,6
503,stožice,ljubljana,1937,61.9,46.5,2024-01-01,131000,False,2
689,gradišče ii,ljubljana,1912,76.2,76.2,2024-01-01,213000,False,4
2477,zgornja šiška,ljubljana,2023,102.1,62.9,2024-01-01,225891,True,3
1132,bežigrad,ljubljana,1929,64.1,58.8,2024-01-01,235000,False,3
324,zgornja šiška,ljubljana,2023,53.6,42.6,2024-01-01,264147,True,2
2101,stanežiče,dvor,2003,214.5,158.7,2024-01-01,450000,False,6
202,zgornja šiška,ljubljana,2023,87.1,76.3,2024-01-01,451480,True,4
2109,vič,ljubljana,2003,50.4,45.2,2024-01-01,220000,False,2
526,kašelj,ljubljana,2022,63.5,63.5,2024-01-01,290394,True,3

In [131]:
df['m2_bruto'] = df['m2_bruto'].astype(str).str.replace('.', ',', regex=False)
df['m2_neto'] = df['m2_neto'].astype(str).str.replace('.', ',', regex=False)
df['cena'] = df['cena'].astype(str).str.replace('.', ',', regex=False)

In [132]:
df.sample(10)

,ime_ko,naselje,letnica_izgradnje,m2_bruto,m2_neto,leto,cena,novogradnja_1,sobnost_ocenjena
2209,kašelj,ljubljana,1978,"33,0","33,0",2024-01-01,84000,False,1
833,zgornja šiška,ljubljana,1949,"71,9","62,5",2024-01-01,205000,False,3
1903,vič,ljubljana,2023,"66,3","66,3",2024-01-01,270000,True,3
987,moste,ljubljana,1988,"44,5","36,2",2024-01-01,177000,False,2
1837,tabor,ljubljana,2022,"73,9","62,2",2024-01-01,371205,True,3
2319,črnuče,ljubljana,2023,"66,6","55,8",2024-01-01,211888,True,3
1666,ajdovščina,ljubljana,2023,"108,7","102,3",2024-01-01,851155,True,5
1134,štepanja vas,ljubljana,1978,"65,7","60,0",2024-01-01,215000,False,3
2522,karlovško predmestje,ljubljana,2019,"95,8","86,9",2024-01-01,440000,False,4
1651,črnuče,ljubljana,2023,"137,5","119,4",2024-01-01,442061,True,6

In [133]:
df.to_csv(r"power_bi_ready\blip\stavbe2024_cleaned1.csv", sep=",", encoding="utf-8", index=False)