In [25]:
%pip install pandas as pd
%pip instal numpy as npl matplotlib.pyplot as plt

Requirement already satisfied: pandas in c:\users\gaj\appdata\local\programs\python\python311\lib\site-packages (2.3.0)
Note: you may need to restart the kernel to use updated packages.

ERROR: Could not find a version that satisfies the requirement as (from versions: none)
ERROR: No matching distribution found for as

Note: you may need to restart the kernel to use updated packages.

ERROR: unknown command "instal" - maybe you meant "install"

In [26]:
import pandas as pd
import numpy as npl
import matplotlib.pyplot as plt

In [27]:
# make it into a list
ljubljana_districts = [
"center", "moste", "dravlje", "zelena jama", "nove jarše", "prule", "ljubljana mesto", 
"štepanja vas", "stožice", "vižmarje", "bežigrad", "kašelj", "vič", "zgornja šiška", "ježica",
"tacen", "slape", "karlovško predmestje", "poljansko predmestje", "tabor", "šentvid nad ljubljano",
"gradišče ii", "gameljne", "glince", "trnovsko predmestje", "brinje ii", "ajdovščina", "črnuče", "spodnja šiška",
"šujica", "lipoglav", "šentpeter", "dobrova", "dobrunje", "rudnik", "nadgorica", "udmat", "brdo",
"zadobrova", "brinje ii", "gradišče i", "šmartno ob savi", "stanežiče", "javor", "volavlje", "bizovik", 
"golovec", "šmartno pod šmarno goro", "krakovsko predmestje", "sostro", "podgorica", "iška loka", "podmolnik", 
"tomišelj", "podsmreka", "rašica", "grič", "trebeljevo"]

In [28]:
df = pd.read_csv("fleti_final.csv", sep=";", encoding="utf-8")

In [32]:
df.sample(5)

,naslov,cena,opis,m2,leto,nastropje,zemljisce,cena_m2,adaptirano,leto_adaptacije,st_sob,kraj,mestna_cetrt,sobnost_ocenjena,naselje
27,zg. šiška,249000.0,"zg. šiška, 50,8 m2, 2-sobno, zgrajeno l. 1967,...",50.8,1967.0,6/8,NaN,4901.574803,1.0,2008.0,2.0,šiška,šiška,3,šiška
84,"dolgi most, opremljeno stanovanje",375000.0,"dolgi most, opremljeno stanovanje, 86,7 m2, 3-...",86.7,2004.0,1/3,NaN,4325.259516,1.0,2015.0,3.0,dolgi most,vič,4,dolgi most
814,"zupančičeva jama, vurnikova ulica",230000.0,"zupančičeva jama, vurnikova ulica, 35 m2, gars...",35.0,1989.0,vp/4,20 m2,6571.428571,0.0,NaN,0.5,zupančičeva jama,bežigrad,2,zupančičeva jama
386,"lj. center, knafljev prehod",1025000.0,"lj. center, knafljev prehod, 142,7 m2, 3-sobno...",142.7,2025.0,2/5,NaN,7182.901191,0.0,NaN,3.0,center,center,6,center
239,lj. center,420000.0,"lj. center, 56 m2, 2-sobno, zgrajeno l. 1960, ...",56.0,1960.0,3/6,NaN,7500.000000,1.0,2010.0,2.0,center,center,3,center

In [30]:
# 1) Uniform column names
df.columns = df.columns.str.lower()

# 2) Identify all object-dtype columns
str_cols = df.select_dtypes(include="object").columns

# 3) Lowercase every value in those columns
df[str_cols] = df[str_cols].apply(lambda col: col.str.lower())

In [31]:
df['naselje'] = df['kraj']

In [36]:
df['leto_izgradnje'] = df['leto']
df['total_m2'] = df['m2']
df.drop(columns=['nastropje'], inplace=True)
df.drop(columns=['zemljisce'], inplace=True)
df.drop(columns=['leto_adaptacije'], inplace=True)
df['per_per_m2'] = df['cena_m2']
df['sobnost_ocenjena'] = df['st_sob']

In [38]:
df.drop(columns=['naslov'], inplace=True)
df.drop(columns=['opis'], inplace=True)

In [93]:
df.sample(5)

,cena,mestna_cetrt,sobnost_ocenjena,naselje,leto_izgradnje,total_m2,is_apartment,novogradnja_1,leto,price_per_m2
214,279000.0,bežigrad,2.0,bežigrad,1964.0,59.1,1,False,2025,4720.812183
390,424000.0,center,2.0,center,2006.0,101.7,1,False,2025,4169.124877
220,199000.0,bežigrad,3.0,bežigrad,1803.0,81.7,1,False,2025,2435.740514
541,220720.0,vič,1.0,vič,2025.0,39.9,1,True,2025,5531.829574
685,249000.0,rudnik,5.0,rudnik,2007.0,112.7,1,False,2025,2209.405501

In [40]:
df.drop(columns=['m2'], inplace=True)
df.drop(columns=['leto'], inplace=True)
df.drop(columns=['cena_m2'], inplace=True)

In [92]:
df['price_per_m2'] = df['per_per_m2']
df.drop(columns=['per_per_m2'], inplace=True)

In [48]:
df['is_apartment'] = 1

In [50]:
df['novogradnja_1'] = df['leto_izgradnje'] > 2022

In [54]:
df1 = pd.read_csv(r"houses_cleaned.csv", sep=",", encoding="utf-8")

In [63]:
df1.sample(5)

,naslov,cena,opis,m2,leto,nastropje,zemljisce,lokacija,lokacija_grouped,cena_na_m2,sobnost_ocenjena
207,podutik,699000,"237 m2, dvostanovanjska, novogradnja - zgr. l....",237.0,2025,NaN,NaN,podutik,dravlje,2949.37,6
299,trnovo,860000,"151 m2, dvojček, novogradnja - zgr. l. 2024, 3...",151.0,2024,p+1,352.0,trnovo,trnovo,5695.36,6
99,lj. center,1220000,"197,3 m2, samostojna, zgrajena l. 1948, adapti...",197.3,1948,NaN,511.0,center,center,6183.48,6
17,brdo,1150000,"224 m2, vrstna, zgrajena l. 2017, prodamo. cen...",224.0,2017,NaN,NaN,brdo,rožnik,5133.93,6
337,vižmarje,80000,"216 m2, samostojna, zgrajena l. 1976, 125 m2 z...",216.0,1976,k+p+1+m,125.0,vižmarje,šentvid,370.37,6

In [56]:
# 1) Uniform column names
df1.columns = df1.columns.str.lower()

# 2) Identify all object-dtype columns
str_cols = df1.select_dtypes(include="object").columns

# 3) Lowercase every value in those columns
df1[str_cols] = df1[str_cols].apply(lambda col: col.str.lower())

In [62]:
def oceni_sobnost(m2):
    if pd.isna(m2):
        return None
    if m2 < 35:
        return 1
    elif m2 < 50:
        return 2
    elif m2 < 70:
        return 3
    elif m2 < 90:
        return 4
    elif m2 < 110:
        return 5
    else:
        return 6
    
df1['sobnost_ocenjena'] = df1['m2'].apply(oceni_sobnost)

In [ ]:
df1.drop(columns=['naslov'], inplace=True)
df1.drop(columns=['opis'], inplace=True)
df1['leto_izgradnje'] = df1['leto']
df1['total_m2'] = df1['m2']
df1.drop(columns=['nastropje'], inplace=True)
df1.drop(columns=['zemljisce'], inplace=True)

df1['per_per_m2'] = df1['cena_na_m2']
df1['sobnost_ocenjena'] = df1['st_sob']

KeyError: "['naslov'] not found in axis"

In [88]:
df1.sample(5)

,cena,sobnost_ocenjena,leto_izgradnje,total_m2,naselje,mestna_cetrt,price_per_m2,is_apartment,novogradnja_1,leto
90,1600000,6,1927,218.0,bežigrad,bežigrad,7339.45,0,False,2025
226,400000,6,1880,137.4,rožna dolina,rožnik,2911.21,0,False,2025
184,599000,4,1984,78.4,murgle,trnovo,7640.31,0,False,2025
294,750000,6,2025,303.5,tacen,šmarna gora,2471.17,0,True,2025
223,429000,6,1968,160.0,rakova jelša,trnovo,2681.25,0,False,2025

In [72]:
df1['naselje'] = df1['lokacija']
df1['mestna_cetrt'] = df1['lokacija_grouped']
df1.drop(columns=['lokacija'], inplace=True)
df1.drop(columns=['lokacija_grouped'], inplace=True)

In [77]:
df1['price_per_m2'] = df1['cena_na_m2']

In [81]:
df1.drop(columns=['cena_na_m2'], inplace=True)

In [83]:
df1['is_apartment'] = 0

In [85]:
df1['novogradnja_1'] = df1['leto_izgradnje'] > 2022

In [87]:
df['leto'] = 2025
df1['leto'] = 2025

In [94]:
nepremicnine = pd.concat([df, df1], ignore_index=True)

In [103]:
nepremicnine.sample(5)

,cena,mestna_cetrt,sobnost_ocenjena,naselje,leto_izgradnje,total_m2,is_apartment,novogradnja_1,leto,price_per_m2
118,"580175,0",posavje,"4,0",ježica,2024.0,"162,5",1,True,2025,"3570,3076923076924"
604,"169000,0",jarše,"0,5",nove jarše,1982.0,"29,1",1,False,2025,"5807,560137457044"
413,"810000,0",center,"2,0",center,2025.0,"104,45",1,True,2025,"7754,906653901388"
1136,"1340000,0",center,"6,0",center,1900.0,"141,0",0,False,2025,"9503,55"
404,"530000,0",center,"4,0",center,1830.0,"106,1",1,False,2025,"4995,287464655985"

In [99]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 815 entries, 0 to 814
Data columns (total 10 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   cena              815 non-null    float64
 1   mestna_cetrt      815 non-null    object
 2   sobnost_ocenjena  815 non-null    float64
 3   naselje           815 non-null    object
 4   leto_izgradnje    815 non-null    int64
 5   total_m2          815 non-null    float64
 6   is_apartment      815 non-null    int64
 7   novogradnja_1     815 non-null    bool
 8   leto              815 non-null    int64
 9   price_per_m2      815 non-null    float64
dtypes: bool(1), float64(4), int64(3), object(2)
memory usage: 58.2+ KB

In [104]:
nepremicnine['total_m2'] = nepremicnine['total_m2'].astype(str).str.replace('.', ',', regex=False)
nepremicnine['cena'] = nepremicnine['cena'].astype(str).str.replace('.', ',', regex=False)
nepremicnine['price_per_m2'] = nepremicnine['price_per_m2'].astype(str).str.replace('.', ',', regex=False)
nepremicnine['sobnost_ocenjena'] = nepremicnine['sobnost_ocenjena'].astype(str).str.replace('.', ',', regex=False)
nepremicnine['leto_izgradnje'] = nepremicnine['leto_izgradnje'].astype(str).str.replace('.', ',', regex=False)

In [106]:
df['leto'] = pd.to_datetime("2025-01-01")

In [107]:
nepremicnine.to_csv("nepremicnine_06082025.csv", index=False, sep=";", encoding="utf-8")